body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#expense-list {
    margin-top: 20px;
    text-align: left;
}

body.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}

input.dark-mode, button.dark-mode {
    background-color: #555;
    color: #fff;
    border: 1px solid #ccc;
}

.dark-mode #expense-list div {
    background-color: #444;
    color: #fff;
}

.chart-container.dark-mode {
    background-color: #222;
}
